{% extends 'bag/item_base.html' %}


{% block item_base %}

<h2>UPDATE GROCERY LIST:</h2>
<form method="POST">
    {% csrf_token %}
    <label>Item name:</label><br />
    <input type="text" class="form-control" id="iname" name="iname" value="{{item.title}}" />
    <label>Item quantity:</label><br />
    <input type="number" class="form-control" id="iquant" name="iquant" value="{{item.quantity}}" />
    <label>Item status:</label><br />
    <select name="status" id="status" class="form-control">
        <option value="PENDING">Pending</option>
        <option value="NOT AVAILABLE">Not Avaliable</option>
        <option value="BOUGHT">Bought</option>
    </select>
    <label>Date:</label><br />
    <input type="date" class="form-control" id="date" name="date" value="{{date}}" /><br />

    <input type="submit" class="btn btn-primary" label='Update'>
</form>
{% endblock item_base %}